{% extends 'base.html' %}
{% load static %}
{% block content %}
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
                         <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                Dodaj
                            </h1>
                            <p class="text-white link-nav"> <a href="{% url 'home' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'create' %}"> Dodaj </a></p>
                         </div>
                    </div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start create Area -->
			<section class="destinations-area section-gap ">
				<div class="container">

					<div class="row d-flex align-content-md-start justify-content-center mt">
                        <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <h3 class="mb-30">Dodaj zdobycz:</h3>
                            <div class="w-100 float-left">
                                <label for="id_image_load"  onMouseOver="this.style.backgroundColor='#f44a40' " onMouseOut="this.style.backgroundColor='#ffffff'" class="genric-btn danger-border e-large w-100" style="cursor: pointer;">Dodaj zdjęcie</label>

                                {{ forms }}

                                <div class="button-group-area mt-10 text-right">
                                    <input class="genric-btn primary-border" type="submit" value="Zapisz" >
                                </div>
                            </div>

                        </form>
                        <!-- Live preview created hunt -->
						<div class="col-lg-5 w-50" style="padding-left: 9.7%;">
                            <h3 class="mb-30">Podgląd:</h3>
							<div class="single-destinations">

								<div class="thumb">
									<img id="preview-photo" src="{% static  'img/packages/d2.jpg' %}" alt="">
								</div>

								<div class="details">
									<h4 id="pTitle">Tanio do Nowego Jorku. Loty za&nbsp;590 PLN</h4>
									<p id="pBody">
										Bez koronawirusa. Stany Zjednoczone wiosną
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Długość podróży</span>
											<span id="pDuration">6 dni</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Data wylotu</span>
											<span id="pDepartDate">18.04.2020</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Linia</span>
											<span id="pAirline">LOT</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Rodzaj</span>
											<span id="pType">W dwie strony</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Cena za osobę</span>
											<a id="pPrice" href="#" class="price-btn">490 PLN</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </section>
			<!-- End destinations Area -->


{% endblock %}

{% block jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/moment-with-locales.min.js" integrity="sha256-tYxbRsX9g9rCkoqG99Bnze2SRAs2A14gAtMIsaz2SP8=" crossorigin="anonymous"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/locale/pl.min.js" integrity="sha256-U7uEr8ILtaCYTYtOCmmHlVTd/acQTec5et61tolRJYk=" crossorigin="anonymous"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script src="{% static 'products/app.js' %}"></script>

{% endblock %}
