



                            <div class="travel-items">
                                <div class="spe-menu-list">
                                    <ul>
                                        <li>
                                            <div class="each-list"></div>
                                            <div class="each-list">
                                                <div class="icon-left"><i class="flaticon-plane-2"></i></div>
                                                <div class="each-text">
                                                    <div>Flight Take Off</div>
                                                    <div>6:30am, 12-18-2108</div>
                                                </div>
                                            </div>
                                            <div class="each-list">
                                                <div class="icon-left"><i class="flaticon-plane-2 rotate-flaticon"></i>
                                                </div>
                                                <div class="each-text">
                                                    <div>Flight landing</div>
                                                    <div>6:30am, 12-18-2108</div>
                                                </div>
                                            </div>
                                            <div class="each-list"><a href="#"
                                                                      class="cbiz-btn hvr-sweep-to-right">$1250</a>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
